@{
    ViewBag.Title = "Denser - About";
}
<h2>
    About Denser</h2>
<p>
    Denser is a Win32, server side JavaScript host based on V8 engine and HTTP.SYS.
    Denser is an incubation effort in the AppFabric team with the goal of lowering the
    cost of running cloud applications by enabling high application density. Read more
    about Denser <a href="http://tjanczuk-hp/denser/denser.pdf">here</a>. Get the Denser
    binaries and samples <a href="http://tjanczuk-hp/denser/">here</a>.
    Contact <a href="mailto:tjanczuk@microsoft.com">tjanczuk</a> with any questions.</p>
