@{
    ViewBag.Title = "Denser - About";
}
<h2>
    About Denser</h2>
<p>
    An experiment with high density server side JavaScript at <a href="http://github.com/tjanczuk/denser">http://github.com/tjanczuk/denser</a></p>
